.img-container {
  z-index: 0;
  max-width: 1040px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0%;
  bottom: -10%;
  margin: auto;
  opacity: 1;

  .solid-img {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 3%;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    animation: fadeInRight 2s;
    z-index: 1;
  }
}

@media screen and (max-width: 1600px) {
  .img-container {
    max-width: 900px;
    width: 100%;
  }
}

@media screen and (max-width: 1330px) {
  .img-container {
    max-width: 760px;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .img-container {
    z-index: 0;
    max-width: 800px;
    width: 100%;
    min-width: 360px;
    bottom: 90px;
    opacity: 1;
    position: initial;
    margin: 0 auto;

    .solid-img {
      position: initial;
      margin: auto;
      width: 100%;
      opacity: 1;
      animation: fadeInRight 2s;
    }
  }
}
